body{
margin:0;
font-family:Arial;
background:#080810;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 40px;
}

.logo{
font-size:24px;
color:#00f7ff;
font-weight:bold;
}

button{

background:#00f7ff;
border:none;
padding:12px 25px;
border-radius:10px;
cursor:pointer;

}

.hero{

text-align:center;
margin-top:120px;

}

.hero h1{

font-size:60px;

background:linear-gradient(90deg,#00f7ff,#7b61ff);
-webkit-background-clip:text;
color:transparent;

}

.wallet{

margin-top:60px;
text-align:center;
font-size:18px;

}
