body{
margin:0;
font-family:Arial;
background:#05050a;
color:white;
overflow-x:hidden;
}

header{
display:flex;
justify-content:space-between;
padding:20px 40px;
align-items:center;
}

.logo{
font-size:24px;
font-weight:bold;
color:#7c7cff;
}

button{
background:linear-gradient(90deg,#7c7cff,#00f7ff);
border:none;
padding:12px 25px;
border-radius:10px;
cursor:pointer;
color:white;
}

.bg{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at 20% 30%, #7b61ff33, transparent),
radial-gradient(circle at 80% 70%, #00f7ff33, transparent);
animation:move 10s infinite alternate;
}

@keyframes move{
0%{transform:scale(1)}
100%{transform:scale(1.2)}
}

.modal{
display:none;
position:fixed;
width:100%;
height:100%;
background:#000000dd;
justify-content:center;
align-items:center;
}

.modal-box{
background:#111;
padding:30px;
border-radius:15px;
}

.wallet-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.wallet{
background:#1b1b2a;
padding:20px;
text-align:center;
border-radius:10px;
cursor:pointer;
}

.wallet:hover{
background:#2d2d44;
}

.panel{
text-align:center;
margin-top:100px;
font-size:18px;
}
